<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="{{url_for('public.index')}}">Count</a>
        <button data-bs-toggle="collapse"
            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('public.index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('public.pricing')}}">Pricing</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link">Logged In As: {{current_user.username}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                    href="#">More</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('user.setting')}}">Setting</a>
                    <a class="dropdown-item" href="{{url_for('user.dash')}}">Users List</a>
                    <hr class="navbar-divider">
                    <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                </div>
            </li>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="{{url_for('auth.register')}}" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a href="{{url_for('auth.login')}}" class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>